* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "roboto";
  src: url(./fonts/Roboto-VariableFont_wdth\wght.ttf);
}

/* ====================================================================================
                             START HEADER SECTION
======================================================================================= */

.header-and-main {
  background: url(./img/bg-img.svg) no-repeat center/cover;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 18px 0 16px 0;
  /* font-family: "roboto"; */
}

.navbar-nav {
  gap: 40px;
}

.bi-arrow-right {
  padding-left: 4px;
  width: 20px;
}

.hr {
  width: 1320px;
  margin: auto;
  border: 2px solid #ffffff;
}

@media only screen and (min-width: 1199px) and (max-width: 1396px) {
  .hr {
    width: 1144px;
    margin: auto;
    border: 2px solid #ffffff;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .hr {
    width: 960px;
    margin: auto;
    border: 2px solid #ffffff;
  }
}

@media only screen and (min-width: 768px) and (max-width: 992px) {
  .container {
    display: flex;
    justify-content: space-between;
  }

  .navbar-nav {
    gap: 40px;
    display: flex;
    flex-direction: row;
  }

  .hr {
    width: 720px;
    margin: auto;
    border: 2px solid #ffffff;
  }
}

@media only screen and (min-width: 577px) and (max-width: 768px) {
  .container {
    display: flex;
    justify-content: space-between;
  }

  .navbar-nav {
    gap: 40px;
    display: flex;
    flex-direction: row;
  }

  .hr {
    width: 540px;
    margin: auto;
    border: 2px solid #ffffff;
  }
}

@media only screen and (min-width: 480px) and (max-width: 577px) {
  .container {
    display: flex;
    justify-content: space-around;
    flex-direction: row-reverse;
  }

  .navbar-nav {
    gap: 40px;
    display: flex;
    flex-direction: row;
  }

  .btn-outline-light {
    display: none;
  }

  .hr {
    width: 447px;
    margin: auto;
    border: 2px solid #ffffff;
  }
}

@media only screen and (max-width: 480px) {
  .container {
    display: flex;
    justify-content: space-around;
    flex-direction: row-reverse;
  }

  .navbar-nav {
    gap: 40px;
    display: flex;
    flex-direction: row;
  }

  .btn-outline-light {
    display: none;
  }

  .hr {
    width: 347px;
    margin: auto;
    border: 2px solid #ffffff;
  }
}

@media only screen and (max-width: 350px) {
  .container {
    display: flex;
    justify-content: space-around;
    flex-direction: row-reverse;
  }

  .navbar-nav {
    gap: 40px;
    display: flex;
    flex-direction: row;
  }

  .btn-outline-light {
    display: none;
  }

  .hr {
    width: 287px;
    margin: auto;
    border: 2px solid #ffffff;
  }
}

/* ====================================================================================
                                     START HERO SECTION
======================================================================================= */

.hero-conatiner {
  display: flex;
  justify-self: center;
  padding: 201px 0 262px 0;
}

.hero-conatiner > h1 {
  font-weight: 500;
  font-size: 80px;
  line-height: 80px;
  text-align: center;
  width: 751px;
  color: #ffffff;
}

@media only screen and (min-width: 650px) and (max-width: 768px) {
  .hero-conatiner > h1 {
    font-size: 55px;
    line-height: 50px;
    text-align: center;
    width: 630px;
    color: #ffffff;
  }
}

@media only screen and (min-width: 577px) and (max-width: 650px) {
  .hero-conatiner > h1 {
    font-size: 50px;
    line-height: 50px;
    text-align: center;
    width: 551px;
    color: #ffffff;
  }
}

@media only screen and (min-width: 425px) and (max-width: 577px) {
  .hero-conatiner > h1 {
    font-size: 50px;
    line-height: 50px;
    text-align: center;
    width: 400px;
    color: #ffffff;
  }
}

@media only screen and (min-width: 320px) and (max-width: 425px) {
  .hero-conatiner > h1 {
    font-size: 40px;
    line-height: 44px;
    text-align: center;
    width: 307px;
    color: #ffffff;
  }
}

/* ====================================================================================
                                     START SECTION ONE
======================================================================================= */

.section-one-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin: 112px 144px;
}

.section-one-container h2 {
  font-weight: 700;
  font-size: 32px;
  line-height: 32px;
  color: #141515;
  padding-bottom: 64px;
}

.section-one-row div {
  font-weight: 500;
  font-size: 18px;
  color: #141515;
}

.section-one-row div:hover {
  color: #e03740;
  cursor: pointer;
}

.section-one-row-two {
  display: flex;
  align-items: flex-end;
}

.section-one-row-two div {
  font-weight: 500;
  font-size: 18px;
  color: #141515;
}

.section-one-row-two div > span {
  font-weight: 300;
  font-size: 14px;
}

.section-one-row-two div:hover {
  color: #e03740;
  cursor: pointer;
}

@media only screen and (min-width: 768px) and (max-width: 954px) {
  .section-one-container {
    margin: 112px 50px;
  }
}

@media only screen and (min-width: 577px) and (max-width: 768px) {
  .section-one-container {
    margin: 112px 40px;
  }

  .section-one-container h2 {
    padding-bottom: 50px;
    width: 300px;
    margin: auto;
  }

  .section-one-row div {
    font-weight: 500;
    font-size: 14px;
  }

  .section-one-row-two div {
    font-weight: 500;
    font-size: 14px;
  }

  .section-one-row-two div > span {
    font-weight: 300;
    font-size: 10px;
  }
}

@media only screen and (min-width: 480px) and (max-width: 577px) {
  .section-one-container {
    margin: 112px 20px;
  }

  .section-one-container h2 {
    padding-bottom: 40px;
    width: 300px;
    margin: auto;
  }

  .section-one-row div {
    font-size: 12px;
  }

  .section-one-row-two div {
    font-size: 12px;
  }

  .section-one-row-two div > span {
    font-weight: 300;
    font-size: 8px;
  }
}

@media only screen and (min-width: 320px) and (max-width: 480px) {
  .section-one-container {
    margin: 112px 10px;
    gap: 16px;
  }

  .section-one-container h2 {
    padding-bottom: 30px;
    width: 260px;
    margin: auto;
  }

  .section-one-row {
    display: flex;
    gap: 16px;
    flex-direction: column;
    margin: 0;
  }

  .section-one-row div {
    font-weight: 500;
    font-size: 18px;
    color: #141515;
  }

  .section-one-row-two {
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    gap: 16px;
    margin: 0;
  }

  .section-one-row-two div {
    font-weight: 500;
    font-size: 18px;
  }

  .section-one-row-two div > span {
    font-weight: 300;
    font-size: 14px;
  }
}
